body {
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* PHOTO */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

/* TITRE VIOLET */
.text-violet {
    color: #6a11cb;
}

/* BOUTONS VIOLET */
.btn-violet {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    border: none;
}

.btn-outline-violet {
    border: 2px solid #6a11cb;
    color: #6a11cb;
}

.btn-outline-violet:hover {
    background: #6a11cb;
    color: white;
}

/* CARTES */
.project-card {
    border: none;
    transition: 0.4s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(106,17,203,0.3);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

/* BARRES */
.progress {
    height: 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    transition: width 2s ease;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    border-radius: 50px;
}